.place__title {
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    margin: 0;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    max-width: 460px;
    grid-area: A;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
    }
}