.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 76.88vw;
    width: 100%;
    min-height: 100%;
    margin: 56px auto 0;
    padding: 0;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .lead {
        max-width: 94.53vw;
        margin: 48px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        max-width: 100vw;
    }
}