.header__logo {
    width: 100%;
    max-width: 176px;
    height: 52px;
    align-self: flex-start;
}

@media screen and (max-width: 1024px) {
    .header__logo {
        max-width: 17.19vw;
    }
}

@media screen and (max-width: 768px) {
    .header__logo {
        max-width: 22.92vw;
    }
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 44.38vw;
        height: 42px;
    }
}