.lead__title {
    color: #fff;
    font-size: 96px;
    font-weight: 900;
    padding: 0;
    margin: 0 0 32px;
    text-align: center;
    width: 100%;
    max-width: 720px;
    line-height: 1;
}

@media screen and (max-width: 767px) {
    .lead__title {
        line-height: 44px;
        font-size: 40px;
        margin: 0 0 16px;
    }
}