.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    gap: 18px;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        gap: 32px;
        margin-bottom: 48px;
    }
}