.footer__copyright {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    line-height: 16px;
}

@media screen and (max-width: 767px) {
    .footer {
        line-height: 14px;
    }
}