.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    max-width: 53.91vw;
    width: 100%;
    min-height: 429px;
    margin: 92px auto 0 148px;
    padding: 0;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 67.38vw;
        margin: 92px auto 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 93.75vw;
        margin: 88px auto 0 24px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 90vw;
        min-height: 754px;
        margin: 64px auto 0 16px;
    }
}