.intro {
    max-width: 50vw;
    width: 100%;
    margin: 92px 492px 0 148px;
    padding: 0;
    align-items: left;
    box-sizing: border-box;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 62.50vw;
        margin: 92px 286px 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 93.75vw;
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        max-width: 90vw;
        margin: 64px 16px 0;
    }
}