.lead__subtitle {
    color: #fff;
    font-size: 30px;
    font-weight: normal;
    margin: 0 auto 64px;
    text-align: center;
    line-height: 1.2;
    width: 100%;
    max-width: 50vw;
}

@media screen and (max-width: 1024px) {
    .lead__subtitle {
        max-width: 62.50vw;
        margin: 0 auto 56px;
    }
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: 83.33vw;
    }
}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        max-width: 90vw;
        margin: 0 auto 40px;
        font-size: 16px;
    }
}