.header__lang-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    margin: 0 0 0 auto;
    padding-left: 0;
    gap: 18px;
    position: relative;
    right: 0;
}