.intro__title {
    color: #fff;
    font-size: 54px;
    font-weight: 900;
    text-align: left;
    max-width: 53.91vw;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .intro__title {
        max-width: 67.38vw;
    }
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: 93.75vw;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: 90vw;
        font-size: 32px;
    }
}
